.logoimg{
    height:100px;
    top: -9px;
    left:20px;
    position: fixed;
    object-fit: cover;
}
.nav{
    display: flex;
    position: sticky;
    top:0;
    width: 100%;
    padding: 38px;
    z-index: 999;
    justify-content: space-between;
transition-timing-function: ease-in;
transition: all 0.5s;
}
.nav__black {
    background-color: #111;
  }
.logoadmin{
    object-fit: cover;
 height:50px;
 position: relative;
 right:20px;
 border-radius: 50%;
    margin-top: -2%;
}